// Here you can add other styles
.dashboard_header .top-header .navbar-nav .cart-icon .bag-icon,
.dashboard_header .top-header .navbar-nav .cart-icon {
  color: #fff !important;
  stroke: #fff !important;
}
.dashboard_header .top-header .admin-cart_btn {
  margin-right: 20px !important;
}
.order_list_image {
  height: 100px;
  width: 100px;
}
.order_list_image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.dashboard_header .brand .logo {
  color: #fff !important;
}
.dashboard_header .top-header .navbar {
  background-color: transparent !important;
}
.dashboard_header .top-header .navbar-nav span:hover {
  color: #fff !important;
}
.panel-sidebar .panel-links {
  text-align: left;
}
.panel-sidebar .panel-links li a {
  color: rgb(255, 255, 255) !important;
  border-radius: 10px;
  padding: 6% 5%;
}
.panel-sidebar .panel-links li a:hover {
  background-color: rgba(255, 255, 255, 0.06);
  color: rgb(255, 255, 255) !important;
  border-radius: 10px;
  padding: 6% 5%;
}
.panel-sidebar .panel-links li a.active-link {
  background-color: rgba(255, 255, 255, 0.06);
  color: white !important;
  border-radius: 10px;
  padding: 6% 5%;
  border: none;
}
.dashboard_header {
  background: rgb(17, 25, 42);
}
.dashboard_footer {
  background: #11192a;
}
.panel-sidebar .panel-links li:last-child {
  border-bottom: 1px solid #11192a;
}

.panel-sidebar {
  background: rgb(17, 25, 42);
}
.subpage-header {
  border-radius: 10px;
}
.subpage-header .title {
  font-size: 25px !important;
}
.subpage-header .action .btn_style {
  background-color: #11192a;
  color: #fff;
  border-radius: 5px !important;
  padding: 10px 30px;
}
.subpage-header .action .btn_style .btn-text {
  color: #fff;
  font-size: 18px;
}
.signup-form {
  margin: 10% 1%;
  border-radius: 10px;
}
.signup-form h2 {
  font-size: 2em !important;
  color: #455a63 !important;
  text-align: center;
  margin-bottom: 5%;
}
.register-page-image {
  height: 350px;
  width: 100%;
}
.register-page-image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.signup-form input {
  border-radius: 10px !important;
  padding: 15px !important;
  height: 55px !important;
  border: 1px solid #455a63 !important;
}
.signup-form input::placeholder {
  color: #455a63 !important;
  font-size: 0.8rem;
  font-style: italic;
}
.register-form-submit-btn {
  background-color: #455a63 !important;
  color: #fff !important;
  padding: 15px 22px !important;
  min-width: 100% !important;
  border-radius: 31px !important;
}
.register-form-submit-btn:hover {
  background-color: #01c7e2 !important;
  color: #fff !important;
}
.register-form-submit-btn span {
  color: #fff !important;
  font-size: 16px !important;
}
// forgot password page styling
.forgot-password-form {
  margin: 5% 0;
}
.forgot-password-form-wrap .input-box {
  margin: 0;
}
.forgot-password-form-wrap .forgot_input {
  border-radius: 25px 0 0 25px;
  padding: 0 0 0 15px;
}
.forgot_btn {
  border-radius: 0 25px 25px 0 !important;
  background-color: #455a63 !important;
}
.forgot_btn .btn-text {
  color: #fff !important;
}
.forgot-password-form h3 {
  font-size: 30px !important;
  margin-bottom: 5%;
}

.admin_edit_btn {
  padding: 6px;
  cursor: pointer;
}

.dashboard_image {
  height: 90px;
  width: auto;
}
.card-subtitle {
  text-transform: none !important;
}

.table_head_bg {
  background: #11192a;
}

.add-product {
  background-color: #e5e5e5;
}

.add-product .input-box input[type="file"] {
  background-color: #fff;
}
.add-product-actions .add_submit_btn {
  background-color: #11192a;
  margin-bottom: 20px;
}
.add-product .add_submit_btn .btn-text {
  color: #fff;
  font-size: 18px;
}
.add-product .select-container .react-select__control {
  height: 45px;
}
.reset-form,
.edit-address,
.add-address,
.add-category,
.edit-category,
.add-brand,
.edit-brand,
.edit-product,
.add-merchant {
  background-color: #e5e5e5;
  padding: 1% 2%;
}
.order-details {
  background-color: #e5e5e5;
  padding: 3% 6%;
}
.reset-form .reset-actions .custom-btn-secondary {
  background-color: #11192a;
  margin-bottom: 20px;
}
.reset-form .reset-actions .custom-btn-secondary .btn-text {
  color: #fff;
  font-size: 18px;
}

// order details style
.order-details .order-meta h2,
.order-details .order-items h2 {
  font-size: 25px !important;
}
.order-details .order-meta .order_detail_back_btn {
  background-color: #11192a;
}
.order-details .order-meta .order_detail_back_btn .btn-icon {
  color: #fff;
}
.order-details .order-meta .order_detail_back_btn .btn-text {
  color: #fff;
}
.order-meta .title {
  border-bottom: 1px solid #11192a;
}

.order_item_detail_header {
  border: 1px solid #fff;
  width: 152px;
  padding: 10px 5px;
  font-size: 16px;
}
.order_item_detail_body {
  width: 152px;
  border: 1px solid #11192a;
  display: flex;
  align-items: center;
  justify-content: center;
}

.order-summary {
  border: 1px solid #11192a;
}
.order-summary h2 {
  border-bottom: 1px solid #11192a;
}

.order-summary hr {
  border-color: #11192a;
}

.wishlist-image {
  height: 100px;
  width: auto;
}
.wishlist-image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/*============================================
                  
                frontend Style

=============================================*/
.header {
  padding: 0 4.2%;
}
.login-form-container,
.signup-form-container {
  width: 50%;
  margin: auto;
}
.shop-page-container,
.homepage-container,
.sell-container,
.contact-container,
.brand-page-container {
  width: 90%;
  margin: auto;
}
.sell-container,
.contact-container {
  background-color: #e5e5e5;
  padding: 1% 2%;
}
.brand-list .brand-box {
  background-color: #e4e6eb;
}
.product-shop {
  padding: 5%;
  background-color: #e5e5e5;
}
.shop-read-more {
  color: blue !important;
  font-weight: 900;
}
.single-product-image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
